.keyup{
    background-color: beige;
    color: brown;
    margin-left:160px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: x-large;
}
.pipemargin{
    margin-left: 120px;
}